<div style="text-align:left;font-size:2em"><span style="font-weight:bolder;font-size:1.25em">SP2273 | Learning Portfolio</span><br><br><span style="font-weight:bold;color:darkred">Pandas (Good)</span></div>

## 1 Missing data

### 1.1 All missing data

In [ ]:

# Your code here

### 1.2 Columns and rows of the missing data

In [ ]:

# Your code here

### 1.3 More details of the missing numbers

In [ ]:

# Your code here

### 1.4 Dealing with missing numbers?

In [ ]:

# Your code here

### 1.5 Itterating over a dataframe

In [ ]:

# Your code here

## 2 Combining dataframes

### 2.1 The complete recipe

In [ ]:

# Your code here

## 3 Plotting directly from Pandas

### 3.1 Barcharts

In [ ]:

# Your code here

### 3.2 Histograms

In [ ]:

# Your code here

### 3.3 Pie

In [ ]:

# Your code here

### 3.4 Boxplots

In [ ]:

# Your code here

## Exercise 1 :  Oh no! Yet another class!

In [1]:
import pandas as pd
import numpy as np

In [21]:
test1 = pd.read_excel('class_test-01.xlsx')
test1

   Student No  Score
0  A80082135P  16.98
1  A75939995U  15.92
2  A97067760C  15.16
3  A31152769E  17.22
4  A23853411O  17.73
5  A39424921D  16.46
6  A28951274W  15.75
7  A04222051I  15.37
8  A22419163B  14.49

In [22]:
test2 = pd.read_excel('class_test-02.xlsx')
test2

   Student No  Score
0  A80082135P  19.83
1  A31152769E  15.72
2  A23853411O  19.37
3  A39424921D  21.96
4  A28951274W  19.20
5  A04222051I  19.23
6  A22419163B  19.11

In [23]:
StD = pd.read_excel('class_names.xlsx')
StD

,Student No,Name,Gender,Email,Major
0,A80082135P,Delmer Ferland,M,delmer.ferland_2015@nus.edu.sg,Physics
1,A75939995U,Jonell Teske,F,jonell.teske_2016@nus.edu.sg,Physics
2,A97067760C,Cathern Kerwin,F,cathern.kerwin_2015@nus.edu.sg,Life Science
3,A31152769E,Tandra Kunz,F,tandra.kunz_2017@nus.edu.sg,Chemistry
4,A23853411O,Bryanna Ash,F,bryanna.ash_2017@nus.edu.sg,Chemistry
5,A51101573L,Helena Crandell,F,helena.crandell_2016@nus.edu.sg,Physics
6,A39424921D,Douglas Punc,M,douglas.punc_2013@nus.edu.sg,Physics
7,A28951274W,Anderson Maxie,M,anderson.maxie_2015@nus.edu.sg,Life Science
8,A04222051I,Sidney Warthen,M,sidney.warthen_2013@nus.edu.sg,Life Science
9,A22419163B,Felix Pine,M,felix.pine_2017@nus.edu.sg,Physics

In [25]:
StD.set_index('Student No', drop=False, inplace=True)
test1.set_index('Student No', drop=True, inplace=True)
test1.rename({'Score': 'Score 1'}, inplace=True)
test2.set_index('Student No', drop=True, inplace=True)
test2.rename({'Score': 'Score 2'}, inplace=True)
combined = pd.concat([StD,test1,test2], axis=1)
combined.drop(columns=['Student No'], inplace=True)
combined.fillna(0, inplace=True)
combined #Pause

KeyError: "None of ['Student No'] are in the columns"